DASHBOARD_USER=admin
DASHBOARD_PASSWORD=yourpassword
TELEGRAM_API=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
LOCAL_API_KEY=your_local_api_key
SERVER_URL=https://your-name.duckdns.org
DB_PATH=path_to_where_you_would_like_your_database
CLAUDE_SECRET=your_claude_secret_key
